<!--
  Generated template for the ProfileSearchResultsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='dark'>
    <ion-title>Results</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <search-results [user]='user'></search-results>

</ion-content>
