<!--
  Generated template for the ProfileSearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Profile Search</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-item>
  <ion-label>Name:</ion-label>
  <ion-input type='text' [(ngModel)]='username'></ion-input>
</ion-item>

<ion-fab bottom right>
  <button ion-fab (click)='getUserInfo()'>
    <ion-icon name='search'></ion-icon>
  </button>
</ion-fab>
</ion-content>
